<mat-toolbar color="primary">
    <div>
        <a [routerLink]="['']">ATM</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <div *ngIf="(user$ | async) as user; else login">
                    <a (click)="logout()">
                        <mat-icon class="icons">account_circle</mat-icon> <span> {{ user.name }} (Logout)</span>
                    </a>
                </div>

                <ng-template #login>
                    <span class="navbar-text">
                        <a [routerLink]="['']">Please, login!</a>
                    </span>
                </ng-template>
            </li>
        </ul>

    </div>
</mat-toolbar>
<div>
    <ap-loading></ap-loading>
</div>