a {
    text-decoration: none;
    color: white;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.icons{
    vertical-align: middle;
}
 
mat-toolbar{
    border-radius: 0px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

span {
    font-size: 70%;
}




